:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --currentColor: rgb(196, 196, 34);
  --main-q-b: cubic-bezier(0.4, 0, 0.2, 1);
  --black-: black;
  --checkbox-color: var(--white-color);
}

body {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0px;
  display: block;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  color: currentColor;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* things that are hidden */
.backdrop {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
}

.our-futures {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms;
  transition-delay: var(--main-q-b);
  z-index: 2;
  padding: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}

.template:hover .overflow-text {
  transform: translatex(0);
}

.header-section {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.navigation__item:not(:last-child) {
  margin-right: 70px;
}

.navigation__link {
  font-weight: 500;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 30px;
  position: relative;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2196F3;
  transform: scaleX(0);
  transform-origin: left;
  transition: color 250ms var(--main-q-b), backgroundcolor 250ms var(--main-q-b);
  transition-duration: 250ms;
  border-radius: 2px;
  transition-property: all;
}

.navigation__link:hover::after,
.navigation__link:focus::after {
  transform: scaleX(1);
}

.navigation-link__current {
  color: var(--accent-color);
}

.navigation-link__current::after,
.navigation-link__current:focus::after {
  transform: scaleX(1);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-info {
  position: relative;
}
.contact-info:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2196F3;
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--main-q-b);
  transition-duration: 250ms;
  border-radius: 2px;
}

.contacts-link:hover::after {
  transform: scaleX(1);
}

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-dark-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./../images/background-img-index-hw04.jpg");
  background-size: cover;
  background-position: center;
}

.hero__titles {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  border-color: var(--primary-text-color);
  margin-bottom: 30px;
}

.div-hero {
  display: flex;
  justify-content: center;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
}

/* paragraphs description */
.paragraphs-discription {
  padding-top: 94px;
}

.paragraphs-positioning {
  display: flex;
}

.paragraphs-item {
  max-width: 270px;
}
.paragraphs-item:not(:last-child) {
  margin-right: 30px;
}

.paragraphs-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.paragraphs-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* images  section */
.images-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.image-list {
  display: flex;
  margin-top: 50px;
}

.images-item {
  position: relative;
}
.images-item:not(:last-child) {
  margin-right: 30px;
}

/*
.images-item:not(:last-child) {
    margin-right: 30px;
}*/
.overlay-box {
  bottom: 0px;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.text-overlay {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* 4 profile pics section */
.profilepics-section {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: var(--background-light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.profilepic-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-light-color);
  margin-bottom: 50px;
}

.profilepic-list {
  display: flex;
}

.profilepic-item {
  border-radius: 0px 0px 4px 4px;
}
.profilepic-item:not(:last-child) {
  margin-right: 30px;
}

.profile-spacing {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.profile-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.paragraphs {
  font-weight: 400;
  margin-top: 10px;
}

.icon-list-profilepics {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0px 10px;
  margin-top: 16px;
}

.svg-profile-flex {
  display: flex;
  padding-bottom: 0px;
  width: 206px;
}

.-svg-social-profile {
  margin: auto;
  border-radius: 24px;
  color: #AFB1B8;
  cursor: pointer;
  position: relative;
}

/* portfolo page */
/* regular section */
.regular-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.regular-list {
  display: flex;
  color: #2196F3;
}

.regular-item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: currentColor;
  color: #2196F3;
  position: relative;
  transition: color 250ms var(--main-q-b), border-color 250ms var(--main-q-b);
}
.regular-item:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.regular-item:not(:last-child) {
  margin-right: 30px;
}

/* footer */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

/*.container-footer {}*/
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-webstudio {
  margin-bottom: 10px;
}

.footer-seperation {
  display: flex;
  font-style: normal;
}

.footer-list {
  margin-right: 70px;
}

.footer-paragraph-space-1 {
  margin-top: 2px;
}

.white-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.mail-tele-color {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* middle footer */
.find-us-section {
  width: 206px;
  margin-right: 91px;
}

.Find-us-on {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 20px;
}

.find-us-list {
  display: flex;
  justify-content: space-between;
}

/* footer right section */
/*.footer-right{}*/
.subscribe-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
}

/* portfolio body */
.main-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-all-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.all-buttons {
  margin-right: 8px;
}

.the-9-images {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.template {
  position: relative;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: 30px;
  margin-right: 30px;
}
.template:hover {
  border-bottom: 0px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.template:nth-child(3n) {
  margin-right: 0px;
}

.template:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.profile-pic-spaces-p-2 {
  position: relative;
  overflow: hidden;
  z-index: 5;
  padding: 20px 24px;
  background: #FFFFFF;
  border-top: 0px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.profile-images-title-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.paragraphs2 {
  font-weight: 400;
}

/* input */
.input-form-div {
  display: block;
  position: relative;
  color: var(--primary-text-color);
  transition: color 250ms var(--main-q-b);
}

.input-form-main {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  margin-top: 4px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: color 250ms var(--main-q-b), border 250ms var(--main-q-b);
}
.input-form-main:focus, .input-form-main:hover {
  border: 1px solid var(--accent-color);
}

.input-form-main:focus + .svg-forms,
.input-form-main:hover + .svg-forms {
  color: var(--accent-color);
}

.input-design {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-dark-color);
  padding: 10px;
  width: 350px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  outline: none;
  transition: color 250ms var(--main-q-b), border 250ms var(--main-q-b);
}
.input-design:hover, .input-design:focus {
  border: 1px solid var(--accent-color);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-bottom: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 528px;
  height: 610px;
}

.modal-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-head-div {
  margin-top: 40px;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 2px;
  margin-top: 2px;
  transition: color 250ms var(--main-q-b);
  background-color: #ffffff;
}
.modal-button:hover, .modal-button:focus {
  color: #2196F3;
}

.close-modal-button {
  width: 20px;
  height: 20px;
}

.modal-body {
  padding: 10px 40px;
}

.div-forms {
  margin-bottom: 10px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.comments-div {
  margin-bottom: 20px;
}

/* right footer section*/
.Name-form {
  color: #757575;
}

.telephone-form {
  color: #757575;
}

.E-mail-form {
  color: #757575;
}

.comments-form {
  color: #757575;
}

.input-form-div {
  display: block;
  position: relative;
  color: var(--primary-text-color);
  transition: color 250ms var(--main-q-b);
}

.input-form-main {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  margin-top: 4px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: color 250ms var(--main-q-b), border 250ms var(--main-q-b);
}
.input-form-main:focus, .input-form-main:hover {
  border: 1px solid var(--accent-color);
}

.input-form-main:focus + .svg-forms,
.input-form-main:hover + .svg-forms {
  color: var(--accent-color);
}

.svg-forms {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: color 250ms var(--main-q-b);
}

.comments-textarea {
  font-family: "roboto";
  resize: none;
  outline: none;
  overflow: scroll;
  scrollbar-width: none;
  cursor: pointer;
  width: 448px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--main-q-b);
}
.comments-textarea:hover, .comments-textarea:focus {
  border: 1px solid var(--accent-color);
}

/*.div-for--checkbox {}*/
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  left: 65px;
  transition: color 2500ms var(--main-q-b), background-color 2500ms var(--main-q-b), border 250ms var(--main-q-b);
}

.my-modal-checkbox-label {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 15px;
}

input[type=checkbox] {
  display: none;
}

.checkbox:checked + .my-modal-checkbox-label > .my-span-checkbox {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/*.checkbox-svg {}*/
.my-span-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-top: 4px;
  border-radius: 2px;
  color: var(--white-color);
  border: 2px solid rgba(33, 33, 33, 0.8);
}

/*.my-icon{}*/
.checkbox-text {
  line-height: 24px;
  margin-left: 10px;
  color: var(--secondary-text-color);
}

.terms-conditions {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  transition: color 250ms var(--main-q-b);
}
.terms-conditions:hover {
  color: var(--accent-color);
}

.button-modal-submit {
  display: flex;
  justify-content: center;
}

.button-send {
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 100px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--main-q-b), box-shadow 250ms var(--main-q-b);
}
.button-send:hover, .button-send:focus {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.contacts-svg {
  margin-right: 10px;
  fill: currentColor;
  padding-right: 1px;
}
.contacts-svg:hover {
  fill: currentColor;
  color: #2196F3;
}

/*body*/
.futures-svg {
  background: #F5F4FA;
  border-radius: 4px;
  padding: 25px 102px;
  margin-bottom: 30px;
}

.icons-for-profilepics {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  position: relative;
  transition-duration: 250ms;
  transition: color 250ms var(--main-q-b), background-color 250ms var(--main-q-b);
}
.icons-for-profilepics:hover, .icons-for-profilepics:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.futures-icon-svg {
  background-color: var(--background-light-color);
  padding: 25px 102px;
  margin-bottom: 30px;
}
.futures-icon-svg:hover {
  border: #212121;
  border-width: 2px;
}

.futures-svg-futures {
  padding: 25px 102px;
  display: block;
}

.icons-6 {
  Color: #AFB1B8;
  width: 170px;
  justify-content: center;
  display: flex;
  position: relative;
  transition: color 250ms var(--main-q-b), border-color 250ms var(--main-q-b);
}
.icons-6:hover, .icons-6:focus {
  color: #2196F3;
}

.fill-current-color {
  margin-top: auto;
  margin-bottom: auto;
}

/* footer */
.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.footer-4-social {
  padding: 12px;
  display: flex;
  color: #FFFFFF;
  position: relative;
  border-radius: 50%;
  transition: color 250ms var(--main-q-b), background-color 250ms var(--main-q-b);
}
.footer-4-social:hover, .footer-4-social:focus {
  border-radius: 23px;
  background-color: #2196F3;
  color: #FFFFFF;
}

.subscibe-svg {
  color: var(--white-color);
  margin-left: 20px;
}

/* button section */
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.hero-button:hover, .hero-button:focus {
  color: rgb(255, 255, 255);
}

.hero-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2f303a;
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--main-q-b);
  transition-duration: 250ms;
  border-radius: 4px;
  z-index: -1;
}

.hero-button:hover::before,
.hero-button:focus {
  transform: scaleX(1);
}

/* body for both pages */
.left-to-right-button {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  transition: color 250ms var(--main-q-b), background-color 250ms var(--main-q-b);
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}
.left-to-right-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

/* footer button*/
.footer-button {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  margin-left: 12px;
  padding: 10px 40px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */