
$accent-color:#2196f3;

.header-section {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.navigation__item:not(:last-child) {
    margin-right: 70px;
}


.navigation__link {
    font-weight: 500;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 30px;
    position: relative;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}


.navigation__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2196F3;
    transform: scaleX(0);
    transform-origin: left;
    transition: color 250ms  var(--main-q-b), backgroundcolor 250ms var(--main-q-b) ;
    transition-duration: 250ms;
    border-radius: 2px;
    transition-property: all;
}

.navigation__link:hover::after,
.navigation__link:focus::after {
    transform: scaleX(1);
}

.navigation-link__current {
    color: var(--accent-color);
}


.navigation-link__current::after,
.navigation-link__current:focus::after {
    transform: scaleX(1);
}


.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-info {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }
}


.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.contacts-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2196F3;
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--main-q-b);
    transition-duration: 250ms;
    border-radius: 2px;

}


.contacts-link:hover::after {
    transform: scaleX(o);
}


@media screen and (min-width: 500px) {

    .header-section {

        background-color: rgb(200, 130, 0);
    }

}