/* regular section */
.regular-section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:480px) {

        &{
            padding-top :50px;
            padding-bottom: 50px;
        }
    }
}

.regular-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;

    @media screen and (max-width:480px)  {
        
        &{
           font-size:30px;
           margin-bottom:30px;
        }
    
    }
}

.regular-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:-30px;
    margin-left:10px;
    color: #2196F3;
    flex-basis: calc(100% / 2 - 30px);

    @media screen and (min-width:768px) and (max-width:1199){
        flex-basis: calc((100% / 3) - 20px);
    }
    @media screen and (min-width:768px){

    }

        @media screen and (min-width:1200px)  {

         /*   flex-basis: calc(100% / 6 ); */
            display:flex;
        }


}


.regular-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    display: flex;
    justify-content: center;
    height: 92px;
    color: currentColor;
    color: #2196F3;
    position: relative;
    transition: color 250ms var(--main-q-b), border-color 250ms var(--main-q-b);
    @media screen and (max-width:768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 20px;
        margin-top: 20px;
    }

    @media screen and (min-width:769px) and (max-width:1199px) {
        flex-basis: calc((100% / 3) - 30px);
        margin-left: 20px;
        margin-top: 20px;
    }
    
    &:hover {
            border: 1px solid #2196f3;
            color: #2196f3;
        }

      @media screen and (max-width:480px) {
        &:not(:last-child){
        margin-right:0px;
        }

      }
    
       
    @media screen and (max-width:480px){
        height:80px;
        width:100%;
    }

    @media screen and (min-width:1200px){
        &{
            flex-basis:calc((100% - 30px) / 6);
            margin-left:20px;
            margin-top:20px;
        }
    }
}
/*
 @media screen and (min-width:768px) and (max-width:1200px) {
     & {
         width: 220px;
         flex-basis: calc((100% - 30px) / 3);
     }

     &:not(:last-child) {
         margin-right: 0px;
     }
 }*/