/* regular section */
.regular-section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:480px) {

        &{
            padding-top :50px;
            padding-bottom: 50px;
        }
    }
}

.regular-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;

    @media screen and (max-width:480px)  {
        
        &{
           font-size:30px;
           margin-bottom:30px;
        }
    
    }
}

.regular-list {
    display: flex;
    color: #2196F3;

    @media screen and (max-width:480px){
        &{
            justify-content:center;
            flex-wrap:wrap;
            gap: 10px;
        }
    }

   @media screen and (min-width:480px) and (max-width:768px) {
    &{
       justify-content:center;
       flex-wrap:wrap;
       gap:20px;
    }
   }
    
   
}

.regular-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: currentColor;
    color: #2196F3;
    position: relative;
    transition: color 250ms var(--main-q-b), border-color 250ms var(--main-q-b);

    &:hover {
            border: 1px solid #2196f3;
            color: #2196f3;
        }

         &:not(:last-child) {
             margin-right: 30px;
         }

      @media screen and (max-width:480px) {
        &:not(:last-child){
        margin-right:0px;
        }

      }

        @media screen and (min-width:480px) and (max-width:768px) {
            &{
                width:220px;
                flex-basis: calc((100% - 20px) / 6);
            }
            &:not(:last-child) {
                margin-right:0px;
            }
        }
    @media screen and (max-width:480px){
        height:80px;
        width:40%;
    }
}

