@use '../components/vars';

/* regular section */
.regular-section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:480px) {

        &{
            padding-top :50px;
            padding-bottom: 50px;
        }
    }
}

.regular-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;

    @media screen and (max-width:480px)  {
        
        &{
           font-size:30px;
           margin-bottom:30px;
        }
    
    }
}

.regular-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    color: vars.$accent-color;

    @media screen and (max-width:480px){
        &{
        flex-basis: calc(50% - 10px)
        }
        
    }

     @media screen and (min-width:1200px)  {
            flex-wrap:nowrap;
            max-width:100%;
        }

}


.regular-item {
    position: relative;
    display: flex;
    justify-content: center;
    height: 92px;
    max-width: 220px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms vars.$main-q-b, border-color 250ms vars.$main-q-b;

    &:hover {
       color:vars.$accent-color;
    }
   

    @media screen and (max-width:768px) {
        flex-basis: calc(50% - 30px);
        max-width: 210px;
    }
     
    @media screen and (min-width:768px) and (max-width:1199px) {
        min-width: 230px;
    }
    @media screen and (min-width:1200px) {
        & {
            flex-basis: calc((100% - 30px) / 6);
        }
    }

    
    &:hover {
            border: 1px solid vars.$accent-color;
            color: vars.$accent-color;
        }

      @media screen and (max-width:480px) {
        &:not(:last-child){
        margin-right:0px;
        }

      }

  

}
